.Home {
    background-color: #ffe8c1;
}

.ProductsHomeContainer {
    margin-top: 12vh;
    padding: 2%;
}

.ProductsHome {
    display: flex;
    flex-direction: column;
    background-color: #ffc972a9;
    border-radius: 10px;
    padding: 0.5%;
}

.ProductsHomeProductsCard {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    overflow-y: scroll;
}